* {
    font-family: 'Lilita One', cursive;
    /*Letra descargada*/

}

header {
    font-size: 700%;
    text-align: center;
    color: #fff;
}

body {
    background-image: url(img/nuube.jpg);
    background-repeat: no-repeat;
    /*no se repita la imagen*/
    background-size: cover;
    /*cubra toda la página*/
   

    
}

.imagen {
    width: 400px;
    float: right;
}

.imagen1 {
    width: 400px;
    float: left;
}

.imagen2 {
    width: 90px;
    float: left;
}

.imagen3 {
    width: 90px;
    float: left;
}

.imagen4 {
    width: 90px;
    float: left;
}

.frase {
    font-size: 250%;
    text-align: center;
    color: #fff;
}
.contenedorMenu{
    display: inline-block;
    flex: wrap;
    flex-direction: column;
    align-items: space-between;
    justify-content: left;
    float: left;
    margin-top: 1px;
    width: 350px;
    height: 580px;

}

.btn1 {
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9199b8;
    text-align: center;
    text-align-last: center;
    display: inline-block;
    vertical-align: text-bottom;
    justify-content: flex;
    font-size: 27px;
    font-display: center;
    padding: 1% 5%;
    text-decoration: none;
    position : relative;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0;

}
.btn1:hover{
    background-color: #fcde5b  ;

}


.btn2 {
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9199b8;
    text-align: center;
    text-align-last: center;
    display: inline-block;
    vertical-align: text-bottom;
    justify-content: flex;
    font-size: 27px;
    font-display: center;
    padding: 1% 5%;
    text-decoration: none;
    position : relative;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0;

}

.btn2:hover:hover{
    background-color: #fcde5b ;

}

.btn3 {
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9199b8;
    text-align: center;
    text-align-last: center;
    display: inline-block;
    vertical-align: text-bottom;
    justify-content: flex;
    font-size: 27px;
    font-display: center;
    padding: 1% 5%;
    text-decoration: none;
    position : relative;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0;

}

.btn3:hover:hover{
    background-color: #fcde5b ;

}



.alinear {
    font-size: 250%;
    text-align: left;
    color: #fff;

}



.contenedorGeneral {
    display: flex;
    background-color: rgba(71, 59, 240, 0.38);
    align-items: center ;
    justify-content: center;
    position: right;
    float: right;
    margin-top: 5px;
    opacity: 0;
    width: 1000px;
    height: 600px;
    text-align: center;
    /*background-color: black;*/
}


.resultado{
    text-align: center;

}